* {
  margin: 0;
  font-family: "Ubuntu Mono", monospace;
}
html, body{
  height: 100%;
}
body {
  background-color: #283747;
  color: white;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.212);
  height: 40px;
  font-size: 1.4rem;
}

.h-box {
  display: flex;
  gap: 5px;
}

h1 {
  font-size: 40px;
  margin-top: 15px;
}
.intro__textContainer {
  margin: 40px auto;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
  max-width: 900px;
  height: 100vw;
  max-height: 150px;
  background-color: #141b2c;
}

.intro__text {
  /* width: 56%; */
  font-size: 1.5rem;
  margin-top: 15px;
}

section h2 {
  text-align: center;
  font-size: 38px;
  margin-top: 20px;
}

footer {
  font-size: 1.1rem;
  margin-top: 50px;
  background-color: #324b66;
  height: 70px;
  display: grid;
  place-content: center;
}

@media (min-width: 395px) {
  .intro__textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }
  h1 {
    font-size: 50px;
  }
  .intro__text {
    font-size: 1.8rem;
  }
}

@media (max-width: 624px) {
  .intro__textContainer {
    width: 85%;
  }
  header {
    font-size: 1rem;
  }
}
