:root{
  --header-color: rgb(31, 31, 31);
}
*{
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}
body{background-color: rgb(228,228,228);}
a {
  text-decoration: none;
}
/* HEADER */
header {
  padding: 30px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  align-items: center;
  background-color: var(--header-color);
  font-size: 1.8rem;
  color: white;
}
header a{color: white;}
.header__box {
  display: flex;
  align-items: center;
}
header > * + *{
  margin-top: 12px;
}
header i {
  margin-top: 4px;
  cursor: pointer;
}
.topbar-box p {
  word-spacing: -8px;
}
/* HEADER */
/*--------------------------------*/
.hero {
  height: 250px;
  /* background: linear-gradient(90deg, rgba(184,87,31,1) 0%, rgba(232,104,30,1) 35%, rgba(160,50,167,1) 100%); */
  /* background: linear-gradient(90deg, rgba(90,97,95,1) 0%, rgba(45,109,133,1) 39%, rgba(75,158,177,1) 100%); */
  background-color: var(--header-color);
  color: white;
  display: grid;
  place-content: center;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
}
.hero__text > * + * {
  margin-top: 10px;
}
.hero__text p {
  font-size: 1.2rem;
}
.hero__text h1 {
  font-size: 3rem;
}

.bottom-bar{
  background: linear-gradient(180deg, var(--header-color) 50%, rgba(228,228,228,1) 100%);  
  height: 70px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
/* INTRO */
#woody {
  font-family: "Share Tech Mono", monospace;
  position: relative;
  width: fit-content;
  margin: 20px auto;
}
#woody::after,
#woody::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#woody::before {
  background: var(--header-color); /*rgba(45,109,133,1)*/
  height: 55px;
  animation: write 3s steps(12) 1s forwards;
}
#woody::after {
  width: 0.125em;
  background-color: white;
  animation: write 3s steps(12) 1s forwards, blink 600ms ease-out 0s 12 forwards;
}

@keyframes write {
  to {
    left: 100%;
  }
}
@keyframes blink {
  to {
    background: transparent;
  }
}
/* INTRO */
/*------------------------------------------------*/
 .projets{
  background-color: rgba(211, 211, 211, 0.199);
} 
.projet {
  /* width: 90%; */
  max-width: 320px;
  margin: 15px auto;
  border: 1px solid rgb(156, 156, 156);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projet h3{
  margin-top: 2px;
  margin-bottom: 8px;
}
.projet img {
  width: 100%;
  height: 240px;
  object-fit: contain;
}
.btns {
  display: flex;
  width: 95%;
  margin-top: auto;
}
/* .btns button {
  height: fit-content;
  align-self: center;
  border: none;
  border-radius: 4px;
  padding: 5px;
  background-color: rgb(228, 228, 228);
  margin-left: 5px;
} */
.modalButton{
  height: 26px;
  margin: auto 0;
  border: none;
  background-color: rgb(228, 228, 228);
  border-radius: 4px;
  font-size: 1rem;
} 
.modalButton:hover, .btns a:hover{cursor: pointer; background-color: var(--header-color); color: white;}

.btns a{
  color: black;
  margin: 4px 7px;
  background-color: rgb(228, 228, 228);
  border-radius: 4px;
  padding: 4px;
  border: none;
  font-size: 1rem;
}
.btns a:nth-last-child(2) {
  margin-left: 10px;
}
.btns a:nth-last-child(1) {
  margin-left: auto;
}
/**/
/*freecode camp projects*/
.projet__images img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.projet__images img:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.projet__images{
  display: grid;
  grid-template-columns: repeat(2, auto);
}
footer{
  margin-top: 16px;
  display: grid;
  place-content: center;
  height: 70px;
  background-color: rgba(90, 97, 95, 0.671);
}

@media (min-width: 600px) {
  .projets{
    display: grid;
    grid-template-columns: repeat(auto-fit, 295px);
    place-content: center;
    gap: 2vw;
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 633px) {
  header {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    font-size: 1.5rem;
  }
  
}

@media (min-width: 769px) {
  .projets{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, 45%); */
    grid-auto-columns: minmax(45%, 320px);
    place-content: center;
    gap: 20px;
    width: 90%;
    margin: 0 auto;
  }
}