@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*, *::before, *::after {box-sizing: border-box; margin: 0; padding: 0;}

:root{
    --titleSize: 6rem;
    --nameSize: 5rem;
    --normalSize: 1.2rem;
    --maxWidth: 1335px;
}

body {
    font-family: 'Poppins', 'IBM Plex Mono', sans-serif;
    font-size: var(--normalSize);
}

/***************************************************************/

ul {
    font-family: 'DotGothic16', sans-serif;
    background-color: lightgray;
    display: flex;
    justify-content: end;
    gap: 20px;
    list-style: none;
    padding-right: 5vw;
    padding-block: 10px;
}
li {transition: scale .2s}
li:hover {
   cursor: pointer;
   scale: 1.1; 
}
/*WOODY GELIUS*/
.hero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: var(--maxWidth);
}

.hero-box h1 {
    font-size: var(--titleSize);
    text-align: center;
}

.hero-box h1 p {
    font-size: var(--normalSize);
}

.woody{
    font-size: var(--nameSize);
    text-align: center;
}

/* ABOUT ME*/
section.about {
    width: 65%;
    min-width: 750px;
    margin-top: 80svh;
    margin-bottom: 110px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-columns: minmax(300px, 40%) minmax(60%, 525px);
    grid-template-rows: repeat(2, 50%);
    justify-items: center;
    align-items: center;
    padding-bottom: 60px;
    border-bottom: 4px solid lightgray;
}

section.about .woody-img {
    max-width: 100%;
    height: 400px;
    display: block;
    border-radius: 50px;
    grid-area: 1/1/3/2;
}

.about p {
    padding-left: 30px;
}

.skills {
    --cellSize: 100px;
    grid-area: 2 / 2 / 3 / 3; /*row-s col-s row-e col-e*/
    display: grid;
    grid-template-columns: var(--cellSize) var(--cellSize) var(--cellSize);
    gap: 10px;
}

.item {
    border: 1px solid lightgray;
    border-radius: 10px;
}

.skills img {
    height: 52px;
    width: 103px;
    object-fit: contain;
    /* max-width: 136px;
    max-height: 67px; */
    display: block;
}

/* PROJETS*/
section.section-projet{
    width: 90%;
    max-width: 1335px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.projets {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.section-projet h2{
    font-size: var(--titleSize);
}

.projet-card {
    margin: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   transition: scale 1s;
}
.projet-card:hover{
    scale: 1.05;
}

.projet-box {
    background-color: rgb(240, 240, 240);
    border: 1px solid black;
    padding: 10px;
}

.section-projet img{
    border-radius: 10px;
    width: 600px;
    height: 300px;
    max-width: 100%;
    display: block;
    cursor: pointer;
    transition: scale 1s;
}

.technos{
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    
    padding: 8px 0 8px 5px;
    /* padding-bottom: 10px;
    padding-left: 5px; */
}

.technos p {
    background-color: lightgray;
    border-radius: 6px;
}

.plusBtn{
    margin-left: auto;
    margin-right: 20px;
    align-self: center;
    cursor: pointer;
    transition: transform 0.5s;
}
.plusBtn:hover{
    transform: scale(1.2);
}

/*breakpoint*/
@media (width < 750px) {
    section.about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        min-width: unset;
        width: 90%;
    }
    section.about p {
        width: 90%;
    }

    .skills{
        gap: 0;
        row-gap: 10px;
        grid-template-columns: repeat(4, 1fr)
    }
}

/*tablet*/
@media (width < 1000px) {
    section.section-projet{
        width: 100%;
    }
    .projets {
        flex-direction: column;
    }
    .projet-card{
        width: 80%;
    }
}



/*mobile portrait*/
@media (max-width: 580px) {
    :root{
        --titleSize: 3.2rem;
        --nameSize: 5rem;
        --normalSize: 1.2rem
    }

    .skills {
        grid-template-columns: repeat(3, 1fr)
    }

    section.section-projet{
        width: 90%;
    }
    .projets {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
}

/*mobile landscape*/
@media (max-height: 530px) {
    .hero-box h1 {
        font-size: 2.5rem;
    }
}



