.modal-container {
    display: none;
  }
  
  .show {
    display: block;
    position: fixed;
    height: fit-content;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(182, 182, 182);
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .modal {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  .modal h3 {
    font-size: 1.3rem;
  }
  .modal p {
    /* display: none; */
    margin-top: 10px;
    font-size: 1.2rem;
    text-align: center;
    width: 95%;
  }
  .show_p{
    display: block !important;
  }
  .modal h4 {
    margin-top: 26px;
    text-align: center;
    font-size: 1.1rem;
  }
  .modal ul {
    list-style: none;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    margin-top: 30px;
    padding: 20px 10px;
    font-size: 1.07rem;
    width: fit-content;
    height: fit-content;
  }
  .modal ul li {
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(33, 32, 41);
  }
  .modalCloseButton {
    color: white;
    background-color: rgb(163, 163, 163);
    border: none;
    font-size: 28px;
    /* font-size: 40px; */
    position: absolute;
    top: 0px;
    right: 10%;
    cursor: pointer;
  }
  
  @media (min-width: 650px) {
    .show{
      width: 80%;
      height: 80%;
      max-width: 600px;
    }
    .modal ul{
      width: fit-content;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 900px;
      gap: 18px;
    }
  }
  
  /* @media (min-width: 650px) {
    .show{
      max-width: 900px;
      padding: 30px;
    }
    .modal ul{
      width: fit-content;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 900px;
      gap: 18px;
    }
  }
  
  @media (min-width: 1000px){
    .show{
      padding: 60px;
    }
    .modal p{
      width: 80%;
    }
  } */