.modal-container {
  display: none;
}

.show {
  display: block;
  position: fixed;
  top: 25%;
  left: 20%;
  height: 60%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(33, 32, 41);
  z-index: 100;
}
.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal h3{
  font-size: 1.5rem;
  max-width: 90%;
}
.modal p {
  margin-top: 14px;
  font-size: 1.4rem;
  width: 55%;
}
.modal h4 {
  margin-top: 50px;
  font-size: 1.2rem;
}
.modal ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  background-color: #324b66;
  list-style: none;
  width: 80%;
  height: 100px;
  font-size: 1.28rem;
}
.modal ul li {
  margin-right: 5%;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(33, 32, 41);
}
.modalCloseButton {
  color: white;
  background-color: rgb(33, 32, 41);
  border: none;
  font-size: 40px;
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
}

@media (max-width: 1328px){
  .show{
    width: 95vw;
    left: 2.5%;
  }
  .modal ul{
    flex-wrap: wrap;
  }
}

 @media (max-width: 436px){
  .show{
    height: 95%;
    top: 20px;
    flex-wrap: wrap;
  }
  .modal p{
    width: 90%;
  }
  .modal h4{
    width:80%;
  }
} 
