section.skills {
 
  border-top: 0.1px #4c585e solid;
  visibility: hidden;
}

.skills-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
  gap: 1vw;
}
.skill-box {
  background-color: #4c585e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 45%;
  max-width: 189px;
  height: 140px;
  margin: 10px 0.5vw;
  border-radius: 20px;
}
.skill-box h3 {
  margin-bottom: 2px;
}
.skill-box img {
  width: 120px;
  height: 80px;
  /* height: 125px; */
  border-radius: 5px;
  object-fit: contain;
}
